    </main>
    <footer>
      <p>
        {{#if noTime}}
          NO TIME
        {{else if gitDateDisplay}}
          This page was last updated on <time datetime="{{ gitDateIso }}">{{ gitDateDisplay }}</time>.
        {{else}}
          This site was generated on <time datetime="{{ buildDateIso }}">{{ buildDateDisplay }}</time>.
        {{/if}}
      </p>
    </footer>
    {{#if shopping}}
      <shopping-cart config="{{ shopping.config }}"></shopping-cart>
    {{/if}}
  </body>
</html>
